<!DOCTYPE html>
<html>
<head>
    <title>Football Predictions</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
        <h1>Tactical Knockout Football Prediction</h1>
        <div style="text-align:center;">
            <a href="/predictions">See Predictions</a>
        </div>
    </div>
</body>

